@font-face {
    font-family: pokemon;
    src: url(pokemon.ttf);
}

body{
    background: black;
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    font-family: pokemon;
    letter-spacing: 5px;
    gap: 10px;
    max-width: 800px;
    margin: 0 auto;
}
.logo{
    text-align: center;
    display: flex;
    margin: 10px 0 0 10px;
}
.logo img{
    width: 45px; 
    height: 45px;
    border-radius: 50% ;
}
.logo span{
    font-weight: bold;
    padding-left: 15px;
    font-size: 18px;
    text-transform: uppercase;
    border-top: none;
    border-left: none;
    border-right: none;
    color: white;
    margin-left: 100px
}
a{
    position: relative;
    color: #fff;
    font-size: 14px;
    display: table;
    width: 280px;
    padding: 10px;
}
nav .fas{
    position: relative;
    width: 70px;
    height: 40px;
    top: 14px;
    font-size: 20px;
    text-align: center;
}
.nav-item{
    position: relative;
    top: 12px;
    margin-left: 10px;
}
nav span{
    font-size: 18px
}
.logout{
    position: absolute;
    bottom:0;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

h1 {
    font-size: 54.01px;
    color: #16D34E;
}
h2 {
    font-size: 24px;
    color: #16D34E;
    margin-top: 180px;
    margin-left: -70px;
}
#game {
    display: grid;
    grid-template-columns: repeat(4, 160px);
    grid-template-rows: repeat(4, 160px);
    grid-gap: 10px;
}
.card {
    box-shadow: 0 3px 10px rgba(200,200,200, 0.9);
    border-radius: 10px;
    position: relative;
    transform-style: preserve-3d;
    overflow: hidden;
    cursor: pointer;
}

.card > .front, .card > .back {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    transition: transform 0.5s;
}

.back>h2 {
    margin: 0;
    font-size: 16px;
}

.rotated {
    transform: rotateY(180deg);
}

.front {
    background-image: url("pokeball.png");
    background-position: center;
    background-repeat: no-repeat;
    background-color: black;
}

button {
    font-size:18px;
    background-color: #c62828;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    color: gray;
}
