*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 1 rem is standaard 16 pixels maar html kan het veranderen*/

html{
    /* regel 11 mag je nooit doen*/
    /*font-size:10px; 1 rem = 10px*/
    font-size: 62.5%;
}



body{
    display: flex;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
    font-family: sans-serif;
    background: #6565D0;
    color: #eeeeee;
}

form{
    width: 50rem;
    min-height: 40rem;
    background: #282829;
    display: flex;
    justify-content:flex-start ;
    flex-direction: column;
    padding: 4rem;
    font-size: 2rem;
    gap: 2rem;
    border-radius: 7.3px;
}

form label{
    border-bottom: 2px solid #6565D0;
}
form div{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


input{
    display: block;
    width: 30ch;
    padding: 1rem 2rem;
    font-size: 1.6rem;
    border: 1px solid black;
}

textarea{
    height: 35ch;
    width: 100%;
    font-size: 1.6rem;
    border: 1px solid black;
    font-family: sans-serif;
    padding: 1rem 2rem;
    resize: none;
    color: #eeeeee;
}

.submit{
    background: #6565D0;
    color: #eeeeee;
    font-size: 2rem;
    border: none;
}

.submit:hover{
    cursor: pointer;
}